@model PrathamFirst.Models.Student
@{
    ViewData["Title"] = "Student Data";
}
<h1>@ViewData["Title"]</h1>
@{
    <p class="text-danger display-6">Id: @Model.Id</p>
    <p class="text-danger display-6">Name: @Model.Name</p>
    <p class="text-danger display-6">Address: @Model.Address</p>
}