<div class="p-2 Content-center">

    <h2 class="p-2">Wrong Password!</h2>

    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
    <lord-icon src="https://cdn.lordicon.com/qxjdtzah.json"
               trigger="hover"
               style="width:250px;height:250px">
    </lord-icon>

    <a asp-controller="User" asp-action="Landing" class="p-3 mt-3 btn btn-Primary">Go Back</a>
</div>
