@{
    ViewData["Title"] = "Add new Product";
}
<h1>@ViewData["Title"]</h1>
<form method="post" asp-controller="Product" asp-action="AddNew">
    <div class="form-group">
        <label for="namide">Product Id</label>
        <input type="text" class="form-control w-25" name="id" id="id">
    </div>
    <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text" class="form-control w-25" name="name" id="name">
    </div>
    <div class="form-group">
        <label for="stock">Stock</label>
        <input type="text" class="form-control w-25" name="stock" id="stock">
    </div>
    <div class="form-group">
        <label for="color">Product Color</label>
        <input type="text" class="form-control w-25" name="color" id="color">
    </div>
    <div class="form-group">
        <label for="size">Product Size: </label>
        <select class="form-select form-control w-25" name="size" id="size" aria-label="Product Size">
            <option value="Large" selected>Large</option>
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
        </select>
    </div>
    <div class="form-group">
         <label for="price">Price</label>
        <input type="text" class="form-control w-25" name="price" id="price">
    </div>
    <button type="submit" class="btn btn-primary mt-lg-3">Submit</button>
</form>