<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Product Management</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="~/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="~/css/ionicons.min.css">
  <link rel="stylesheet" href="~/css/AdminLTE.min.css">
  <link rel="stylesheet" href="~/css/skin-blue.min.css">
  <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
  
 </head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <!-- Main Header -->
  <header class="main-header">
    <!-- Logo -->
    <a asp-controller="Home" asp-action="Index" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>P</b>M</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b></b>Inventory</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

                

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> <span>Home</span></a></li>
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fa fa-link"></i> <span>Privacy</span></a></li>*@
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Profile"><i class="fa fa-user-circle-o"></i> <span>Profile</span></a></li>*@
                    <li> <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa  fa-bars"></i> <span>Product</span></a> </li>
                    
        </ul>
           
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div style="padding-top:0px;" class="content-wrapper">
    <!-- Content Header (Page header) -->
               
    <!-- Main content -->
    <section class="content container-fluid">
        @RenderBody()
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    @*@*<div class="pull-right hidden-xs">
      Anything you want
    </div>*@
    <!-- Default to the left -->
    <strong>Copyright &copy; 2022 <a href="#">Avishek Khatiwada</a>.</strong> All rights reserved.
  </footer>

  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/adminlte.min.js"></script>

  <!-- Toast Message -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)

</body>
</html>